## Funciones de Python

**FUNCIONES**
- map
- filter
- reduce

In [24]:
#import random
#import functools

from random import randint

# from modulo import funcion
from functools import reduce

In [14]:
L = [1,34,5,6,7,8,2]

In [3]:
L

[1, 34, 5, 6, 7, 8, 2]

In [4]:
def cuadrado(n):
    return n**2

In [5]:
cuadrado(5)

25

In [6]:
L2 = []
for i in L:
    L2.append(cuadrado(i))
L2

[1, 1156, 25, 36, 49, 64, 4]

In [7]:
L3 = list(map(cuadrado, L))
L3

[1, 1156, 25, 36, 49, 64, 4]

In [25]:
L = []
for i in range(25):
    L.append(randint(1,50))
L[:5]

[22, 24, 29, 23, 29]

In [12]:
def multiplo10(n):
    return n % 10 == 0

In [13]:
L2 = list(filter(multiplo10, L))
L2

[30, 40, 50, 50]

Ejemplo List Compre. equivalente a la función map

In [15]:
L

[1, 34, 5, 6, 7, 8, 2]

In [16]:
L4 = [cuadrado(i) for i in L]
L4

[1, 1156, 25, 36, 49, 64, 4]

In [17]:
L5 = [i**2 for i in L]
L5

[1, 1156, 25, 36, 49, 64, 4]

In [18]:
c = {i**2 for i in L}
c

{1, 4, 25, 36, 49, 64, 1156}

** Equivalente de filter con list compre.

In [20]:
L[:10]

[32, 1, 25, 1, 9, 8, 20, 12, 28, 39]

In [21]:
L6 = [i for i in L if multiplo10(i)]
L6

[20]

In [22]:
L7 = [i for i in L if i % 10 == 0]
L7

[20]

Reducir una lista con la función reduce sumando de dos en dos los números de la lista:

In [26]:
def sumar(a,b):
    print(a,b)
    return a+b

val = reduce(sumar, L)
print(L)
print(val)

22 24
46 29
75 23
98 29
127 4
131 8
139 44
183 36
219 39
258 16
274 36
310 38
348 7
355 42
397 27
424 17
441 42
483 14
497 34
531 14
545 8
553 41
594 13
607 3
[22, 24, 29, 23, 29, 4, 8, 44, 36, 39, 16, 36, 38, 7, 42, 27, 17, 42, 14, 34, 14, 8, 41, 13, 3]
610

In [27]:
L = [{'nivel_est':3, 'expe':10},{'nivel_est':2, 'expe':20},
    {'nivel_est':3, 'expe':15},{'nivel_est':1, 'expe':10},
    {'nivel_est':2, 'expe':22}]

In [30]:
def mejorCandidato(c1, c2):
    print(c1,c2)
    if c1['nivel_est'] > c2['nivel_est']:
        return c1
    
    elif c1['nivel_est'] < c2['nivel_est']:
        return c2
    
    else:
        if c1['expe'] > c2['expe']:
            return c1
        else:
            return c2

In [31]:
mejor = reduce(mejorCandidato, L)
mejor

{'nivel_est': 3, 'expe': 10} {'nivel_est': 2, 'expe': 20}
{'nivel_est': 3, 'expe': 10} {'nivel_est': 3, 'expe': 15}
{'nivel_est': 3, 'expe': 15} {'nivel_est': 1, 'expe': 10}
{'nivel_est': 3, 'expe': 15} {'nivel_est': 2, 'expe': 22}

{'nivel_est': 3, 'expe': 15}